http://:{$CADDY_CONTAINER_PORT} {
    handle /pets* {
        reverse_proxy http://backend:{$BACKEND_CONTAINER_PORT}
    }

    handle /health {
        reverse_proxy http://backend:{$BACKEND_CONTAINER_PORT}
    }

    handle /chat {
        reverse_proxy http://backend:{$BACKEND_CONTAINER_PORT}
    }

    handle /docs* {
        reverse_proxy http://backend:{$BACKEND_CONTAINER_PORT}
    }

    handle /openapi.json {
        reverse_proxy http://backend:{$BACKEND_CONTAINER_PORT}
    }

    handle {
        root * /srv/flutter
        try_files {path} /index.html
        file_server
    }
}
